@{
    ViewBag.Title = "Trang chủ";
}


@model HomeView
@using QAP4.ViewModels

@{ var tagsFeature = Model.TagsFeature;}
@{ var usersFeature = Model.UsersFeature;}
@{ var postsFeed = Model.PostsFeed;}
@{ var user = Model.User;}

<div id="indexPage" class="container index-page">
    <!--head-->
    <div class="col-lg-2 col-md-2">
        <!--submit-->
    </div>

    <!--main-->
    <div class="main-nav post-list background-white col-lg-8 col-xs-12 col-sm-12 no-padding">

        <!--quote good-->
        @if (Model.Quote != null)
        {
            <div class="container quote padding-base">
                <h5 class="caption">
                    <i class="small quote left icon"></i>
                    <span class="content">
                        @Model.Quote.Content
                    </span>
                    <i class="small quote right icon"></i>
                    <br />
                    <span class="author italic">
                        __@Model.Quote.AuthorDisplayName
                    </span>
                </h5>
            </div>
        }

        <!--make post now-->
        @if (user != null)
        {
            <div class="padding-bottom-base border-bottom margin-bottom-base">
                <div class="container no-padding">
                    <div class="col-lg-1 col-md-1 col-xs-2 col-sm-2 no-padding">
                        <a href="/users/@user.Id">
                            <img src="@user.Avatar" class="ui mini image bordered">
                            @*@user.DisplayName*@
                        </a>
                    </div>
                    <div class="col-lg-11 col-md-11 col-xs-10 col-sm-10 ui input no-padding">
                        <input id="title" class="title title-question make-posts-now" type="text" placeholder="Bạn hãy hỏi hoặc yêu cầu một điều gì đó?" autofocus="">
                    </div>
                </div>
            </div>
        }

        <!--posts feed-->
        @if (postsFeed.Count() > 0)
        {
            <div id="container no-padding">
                @foreach (var item in postsFeed)
                {
                    @if (item.PostTypeId == 1)
                    {
                        //simple posts
                        <div class="ui items padding-bottom-base border-bottom">
                            <div class="item ">
                                @if (item.CoverImg != null)
                                {
                                    <a href="/posts/@item.Id?po_i=@item.Id&u_i=@user?.Id"
                                       class="ui small image">
                                        <img src="@item.CoverImg" alt="">
                                    </a>
                                }
                                <div class="content">

                                    <a href="/posts/@item.Id?po_i=@item.Id&u_i=@user?.Id"
                                       class="header title-post left">
                                        @item.Title
                                    </a>
                                    @if (!string.IsNullOrEmpty(item.Tags))
                                    {
                                        @foreach (var tag in item.Tags.Split(','))
                                        {
                                            <div class="ui labels tags right">
                                                <a href="/search/all?q=@tag" class="ui label">@tag</a>
                                            </div>
                                        }
                                    }

                                    <div class="description padding-bottom-base full-width left">
                                        <p>@item.HeadContent<span>...</span></p>
                                    </div>

                                    <div class="container infor full-width no-padding left">
                                        <a href="/users/@item.OwnerUserId"
                                           class="ui basic image label">
                                            <img src="@item?.UserAvatar">
                                            @item.UserDisplayName
                                        </a>
                                        <!--created time-->
                                        <span class="create-time caption-text padding-left-base grey">@String.Format("{0:M/d/yyyy HH:mm}", @item.CreationDate)</span>

                                    </div>

                                    <div class="statistics right">
                                        <div class="ui mini horizontal statistic right">
                                            <div class="value">
                                                @item.VoteCount
                                            </div>
                                            <div class="label no-margin">
                                                Vote
                                            </div>
                                        </div>

                                        <div class="ui mini horizontal statistic right padding-right-base">
                                            <div class="value">
                                                @item.CommentCount
                                            </div>
                                            <div class="label no-margin">
                                                Bình luận
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    else if (item.PostTypeId == 2)
                    {
                        //questions
                        <div class="item border-bottom container no-padding">
                            <div class="container no-padding content">
                                <!--user create-->
                                <div class="full-width padding-top-base head">
                                    <a href="/users/@item.OwnerUserId"
                                       class="ui basic image label">
                                        <img src="@item?.UserAvatar">
                                        @item.UserDisplayName
                                    </a>
                                    <!--created time-->
                                    <span class="create-time caption-text padding-left-base grey">@String.Format("{0:M/d/yyyy HH:mm}", @item.CreationDate)</span>
                                </div>


                                <div class="container full-width no-padding">
                                    <!--title-->
                                    <a href="/posts/@item.Id"
                                       class="header title-post left">
                                        @item.Title
                                    </a>

                                    <!--tags-->
                                    <div class="tags right">
                                        @if (!string.IsNullOrEmpty(item.Tags))
                                        {
                                            foreach (var tag in item.Tags.Split(','))
                                            {
                                                <div class="ui labels tags right">
                                                    <a href="/search/@tag"
                                                       class="ui label">@tag</a>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>

                                <!--description-->
                                <div class="description full-width padding-bottom-base left">
                                    <p class="grey">@item.HeadContent</p>
                                </div>

                                @if (item.AnswerCount == 0)
                                {
                                    <a href="/posts/@item.Id"
                                       class="left ui green tiny button">
                                        Trả lời
                                    </a>
                                }
                                else
                                {
                                    <a href="/posts/@item.Id"
                                       class="left ui green tiny button">
                                        Thêm trả lời
                                    </a>
                                }

                                <div class="statistics right">
                                    <div class="ui mini horizontal statistic right">
                                        <div class="value">
                                            @item.VoteCount
                                        </div>
                                        <div class="label">
                                            Vote
                                        </div>
                                    </div>

                                    <div class="ui mini horizontal statistic right padding-right-base">
                                        <div class="value">
                                            @item.AnswerCount
                                        </div>
                                        <div class="label">
                                            Trả lời
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    }
                    else if (item.PostTypeId == 6)
                    {
                        //tutorials
                        <div class="item border-bottom container no-padding">
                            <div class="infor full-width padding-top-base left">
                                <a href="/users/@item.OwnerUserId"
                                   class="ui basic image label">
                                    <img src="@item?.UserAvatar">
                                    @item.UserDisplayName
                                </a>
                                <span class="create-time caption-text">
                                    <i class="clock icon"></i>
                                    @String.Format("{0:M/d/yyyy HH:mm}", @item.CreationDate)
                                </span>
                            </div>

                            <a href="/posts/@item.Id"
                               class="ui small image">
                                <img src="@item.CoverImg" alt="">
                            </a>
                            <div class="content">
                                <a href="/posts/@item.Id"
                                   class="header title-post left">@item.Title</a>
                                @if (!string.IsNullOrEmpty(item.Tags))
                                {
                                    <div class="ui labels tags right">
                                        @foreach (var tag in item.Tags.Split(','))
                                        {
                                            <a href="/search/@tag?pg=1"
                                               class="ui label">@tag</a>
                                        }
                                    </div>
                                }

                                <div class="description full-width padding-bottom-base left">
                                    <p>@item.HeadContent<span>...</span></p>
                                </div>


                                @if (item.AnswerCount == 0 && string.IsNullOrEmpty(item.RelatedPosts))
                                {
                                    <a href="/editors/?u_i=@item.OwnerUserId&pg=0&or_d=cr_d&po_i=@item.Id&po_t=@item.PostTypeId&po_lst_t=6&pr_i=0&ans=0"
                                       class="left ui green tiny button">
                                        Tạo bài hướng dẫn
                                    </a>
                                }
                                else
                                {
                                    <a href="/editors/?u_i=@item.OwnerUserId&pg=0&or_d=cr_d&po_i=@item.Id&po_t=@item.PostTypeId&po_lst_t=6&pr_i=0&ans=0"
                                       class="left ui green tiny button">
                                        Bổ sung hướng dẫn
                                    </a>
                                }

                                <div class="statistics right">
                                    <div class="ui mini horizontal statistic right">
                                        <div class="value">
                                            @item.VoteCount
                                        </div>
                                        <div class="label no-margin">
                                            Vote
                                        </div>
                                    </div>

                                    <div class="ui mini horizontal statistic right padding-right-base">
                                        <div class="value">
                                            @item.AnswerCount
                                        </div>
                                        <div class="label no-margin">
                                            Trả lời
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else if (item.PostTypeId == 4)
                    {
                        <!--item tutorial (note book)-->
                        <div class="item container no-padding">
                            <div class="container no-padding content border-bottom">

                                <div class="full-width padding-top-base left">
                                    <!--title-->
                                    <a href="/posts/@item.Id?po_br_i=@item.RelatedPosts.Split(',').ElementAt(0)"
                                       class="header title-post">
                                        @item.Title
                                    </a>

                                    <!--tags-->
                                    <div class="tags right">
                                        @if (!string.IsNullOrEmpty(item.Tags))
                                        {
                                            foreach (var tag in item.Tags.Split(','))
                                            {
                                                <div class="ui labels tags right">
                                                    <a href="/search/all?q=@tag"
                                                       class="ui label">@tag</a>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>

                                <!--user create-->
                                <div class="full-width padding-top-base head">
                                    <a href="/users/@item.OwnerUserId"
                                       class="ui basic image label">
                                        <img src="@item?.UserAvatar">
                                        @item.UserDisplayName
                                    </a>
                                    <!--created time-->
                                    <span class="create-time caption-text padding-left-base grey">@String.Format("{0:M/d/yyyy HH:mm}", @item.CreationDate)</span>
                                </div>

                                <!--description-->
                                <div class="description full-width padding-bottom-base left">
                                    <p class="grey">@item.HeadContent</p>
                                </div>

                                <a href="/posts/@item.Id"
                                   class="left ui green tiny button">
                                    Tham gia học
                                </a>

                                <div class="statistics right">
                                    <div class="ui mini horizontal statistic right">
                                        <div class="value">
                                            @item.VoteCount
                                        </div>
                                        <div class="label no-margin">
                                            Vote
                                        </div>
                                    </div>

                                    <div class="ui mini horizontal statistic right padding-right-base">
                                        <div class="value">
                                            @item.CommentCount
                                        </div>
                                        <div class="label no-margin">
                                            Nhận xét
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    }

                }
            </div>
        }
    </div>


    <!--right nav-->
    <div class="right-nav col-lg-2 co-md-2">

        <!-- Hot tags -->
        @if (tagsFeature.Count() > 0)
        {
            <div class="container meta-hot-tags padding-base">
                <span class="header-text black black"><i class="tag icon"></i>Chủ đề nổi bật</span>
                <div class="ui labels">

                    @foreach (var tag in tagsFeature)
                    {
                        <a href="/search/all?q=@tag.Name" class="ui label">
                            @tag.Name
                            <div class="detail">@tag.Count</div>
                        </a>
                    }
                </div>
            </div>
        }
        <!-- User ranking -->
        @if (usersFeature.Count() > 0)
        {
            <div class="container user-ranking padding-base">
                <span class="header-text black black"><i class="user icon"></i>Tác giả nổi bật</span>
                <div class="ui labels">
                    @foreach (var item in usersFeature)
                    {
                        <a href="/users/@item.Id"
                           class="ui basic image label">
                            <img src="@item?.Avatar">
                            @item.DisplayName
                        </a>
                    }
                </div>
            </div>
        }

        <!-- group -->
        <div class="container group padding-base">
            <span class="header-text black"><i class="users icon"></i>Hội nhóm cộng tác</span>
            @*<div class="ui labels">
                    <a class="ui basic image label">
                        <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/1/1c/Huy_hi%E1%BB%87u_%C4%90o%C3%A0n_TNCS_HCM.svg/222px-Huy_hi%E1%BB%87u_%C4%90o%C3%A0n_TNCS_HCM.svg.png">
                        Gió Đoàn
                        <div class="detail">Đoàn thanh niên</div>
                    </a>
                    <a class="ui basic image label">
                        <img src="">
                        Acoustic Nụ Cười
                        <div class="detail">Nhóm nhạc</div>
                    </a>
                    <a class="ui basic image label">
                        <img src="https://s-media-cache-ak0.pinimg.com/236x/10/16/75/10167504496cca6fdfb505bdaa7286e5.jpg">
                        Ôn thi 10
                        <div class="detail">Nhóm hỗ trợ ôn thi</div>
                    </a>
                </div>*@
        </div>



    </div>

</div>

<script>
    var userId = @user?.Id;

    $(document).ready(function () {
        var makePostsNow = $('.make-posts-now');
        makePostsNow.click(function (event) {
            event.preventDefault();
            window.location.href = "/ask?u_i="+userId;
        });
    });

</script>